<div class="page-header">
  <h4>Edit Recipe</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recipe/<%=@recipe.id%>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <table class="table table-striped table-hover">
          <tr>
            <td><label for="dish" class="control-label">
              Dish
            </label></td>
            <td>
              <input type="text" id="dish" name="dish" placeholder="Dish" class="form-control" value="<%=@recipe.dish%>">
            </td>
            <td>
              <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </td>
          </tr>
          <% component_number = 1 %>
          <% @recipe.components.each do |component| %>
          <tr>
            <td><label for="component" class="control-label">
              Component #<%=component_number%>
            </label></td>
            <td>
              <input type="text" id="component" name="<%=component_number%>" placeholder="Component" class="form-control" value="<%=component.ingredient%>">
            </td>
            <td><a href="/delete_component/<%= component.id %>" class="btn btn-danger" rel="nofollow">Delete</a></td>
          </tr>
          <% component_number += 1 %>
          <% end %>
        </table>
      </div>

      <button class="btn btn-success">
        Update Recipe
      </button>
      or
      <a href="/recipes">Cancel</a>
    </form>
  </div>
</div>
